{% load static %}
{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
<title>QuickerBuild Construction</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Description" CONTENT="QuickerBuild.in- QuikerBuild uses a prefabricated panel that consists of a super-insulated core material with an engineered steel fabric mesh to create a strong and durable monolithic structure.">

<meta name="keywords" content="QuickerBuild, Technology,Benefits,Project,Low Cost,Fast Implementation, Structural Integrity, Uniform Quality, Simple Construction, Thermal Insulation, Fireproof, Moisture proof, Soundproof, Lightweight" />  

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="{% static "css/bootstrap.css" %}"rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="{% static "css/style.css" %}" rel='stylesheet' type='text/css' />
<link rel="shortcut icon" type="image/x-icon" href="{% static "images/quickerbuild_favicon.png"%}" />

<script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>

<!--webfonts-->
 <link href='http://fonts.googleapis.com/css?family=Days+One|Bree+Serif|Raleway:400,200,300,500,600|Bevan' rel='stylesheet' type='text/css'>
<!--//webfonts-->

</head>
<body>
	<!--start-home-->
	<div id="home" class="header">
		<div class="header-top">
			<div class="container">
			<div class="head-nav">
				<div class="container">
				<div class="logo col-md-4">
						<a href="/home">			
						<img  class="img-responsive" src="{% static "images/logo3.png" %}" alt="">
						</a>	
				</div>			
				<div class="logo logo-text col-md-8">				
					<a href="/home">
						<h1>Quicker<span>Build</span></h1>
						<h3 class="sub-title">Construction</h3>
					</a>
				</div>				
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<div class="clearfix"></div>
				<span class="menu"></span>
				<div class="top-menu">
					<ul>
					    <li><a href="/home" >Home</a></li>
					    <li><a href="/technology">Technology</a></li>
						<li><a  href="/benefits">Benefits</a></li>
						<li><a class="active" href="/faqs">FAQs</a></li>
						<li><a href="/aboutus">About us</a></li>
						<li><a href="/project">Projects</a></li>
						<li><a href="/contact">Contact</a></li>
						<div class="clearfix"> </div>
					</ul>
				</div>
				<!--script-for-menu-->
				<script>
				$( "span.menu" ).click(function() {
				  $( ".top-menu" ).slideToggle( "slow", function() {
				    // Animation complete.
				  });
				});
			</script>
			<!--script-for-menu-->
			</div>
		  </div>
		</div> 
		<!-- banner-bottom -->
		<div class="banner four">
		</div>
	</div>
	<!--contact-->
			<div class="contact faqs-contact">
				<div class="container">
					<h3>FAQs</h3>
						<div class="contact-top">

							<div class="col-md-12 ">
								<div class="contact-top-one contact-top-content">
									<div class="holder_left1">
									<h4>Wind load capacity of  EPS panels?</h4>
									<p style="padding-left:0px;">
									A test was conducted with three Quik Build panels 1200mm wide and 3040mm high with 40mm of 
									shotcrete on each face installed vertically, side-by-side, on a concrete slab, several cm in front of a rigid backup wall with space between the panels and the backup wall. These panels were tested per static-wind load test. No failures occurred to the specimens or their fastenings orthe anchorage. The panels were tested at 615 kgf/sqm, which represents over 400 Km/h-wind factor.  </p>

									<h4>R-value ratings of EPS pannel?</h4>
									<p style="padding-left:0px;">
									The R-Value ratings will vary with differences in:<br>
									• thicknesses and density of the EPS core<br>
									• thickness of the shotcrete applied to the interior and exterior <br>
									The following figures are approximate indicators of the expected minimum of R-Value ratings:<br>
									• 50mm EPS Core R-Value 1.2 m2C/W<br>
									• 80mm EPS Core R-Value 1.8 m2C/W<br>
									• 100mm EPS Core R-Value 2.2 m2C/W<br>
									</p>


									<h4>Load bearing of Quicker build ?</h4>
									<p style="padding-left:0px;">
									The traditional block wall and other systems cannot compare to Quik Build panel’s strength. A Quik Build panel with 50mm polystyrene core using 2mm mesh wire, 2.50m in height has been tested at a structural load of over 78,000 lbs.</p>



									<h4>Pannels are made  of? </h4>
									<p style="padding-left:0px;">
									These panels are made up to galvanized wire mesh and EPS pannel and concreate. EPS panels are sandwiched between galvanized mesh wire and over it we put  and cover with concreate and EPS wall becomes stronger.</p>
								</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			</div>
	<!--/contact-->
			<!--footer -->
		<div class="footer text-center">
				<div class="container">
<!-- 					<div class="footer-grids">
						<div class="col-md-6 footer-text">  
							<h3>About Us</h3>
							<p>We as partners started our business in construction field from 2010 . We have successfully completed many projects in and around Bangalore, Mangalore. We have also gained experience in building Villas.All these were Masonary style of construction.</p>
							<a class="read" href="about.html">Read More</a>
						</div>
						<div class="col-md-6 footer-info">
							<h3>Get In Touch</h3>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since, </p>
							<div class="support">
							   <input type="text" class="text" value="Enter email..." onfocus="this.value = '';" onblur="if (this.value == 'Enter email...') {this.value = 'Enter email...';}">
							   <input type="submit" value="SUBSCRIBE" class="botton">
							</div>
					</div>
					<div class="clearfix"> </div>
				</div> -->
					<div class="copy">
		              <p>&copy; 2015 QuickerBuild. All Rights Reserved | Design by <a href="https://www.facebook.com/harsh.ravi.71">H[R]</a> </p>
		            </div>
				</div>
			</div>
			<!--start-smoth-scrolling-->
			<script type="text/javascript">
								jQuery(document).ready(function($) {
									$(".scroll").click(function(event){		
										event.preventDefault();
										$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
									});
								});
								</script>
							<!--start-smoth-scrolling-->
						<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

</body>
</html>