{% load static %}
{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
<title>QuickerBuild Construction</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Description" CONTENT="QuickerBuild.in- QuikerBuild uses a prefabricated panel that consists of a super-insulated core material with an engineered steel fabric mesh to create a strong and durable monolithic structure.">

<meta name="keywords" content="QuickerBuild, Technology,Benefits,Project,Low Cost,Fast Implementation, Structural Integrity, Uniform Quality, Simple Construction, Thermal Insulation, Fireproof, Moisture proof, Soundproof, Lightweight" />  

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="{% static "css/bootstrap.css" %}"rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="{% static "css/style.css" %}" rel='stylesheet' type='text/css' />
<link rel="shortcut icon" type="image/x-icon" href="{% static "images/quickerbuild_favicon.png"%}" />

<script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>

<!--webfonts-->
 <link href='http://fonts.googleapis.com/css?family=Days+One|Bree+Serif|Raleway:400,200,300,500,600|Bevan' rel='stylesheet' type='text/css'>
<!--//webfonts-->

</head>
<body>
	<!--start-home-->
	<div id="home" class="header">
		<div class="header-top">
			<div class="container">
			<div class="head-nav">
				<div class="container">
				<div class="logo col-md-4">
						<a href="/home">			
						<img  class="img-responsive" src="{% static "images/logo3.png" %}" alt="">
						</a>	
				</div>			
				<div class="logo logo-text col-md-8">				
					<a href="/home">
						<h1>Quicker<span>Build</span></h1>
						<h3 class="sub-title">Construction</h3>
					</a>
				</div>				
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<div class="clearfix"></div>
				<span class="menu"></span>
				<div class="top-menu">
					<ul>
					    <li><a href="/home" >Home</a></li>
					    <li><a class="active" href="/technology">Technology</a></li>
						<li><a href="/benefits">Benefits</a></li>
						<li><a href="/faqs">FAQs</a></li>
						<li><a href="/aboutus">About us</a></li>
						<li><a href="/project">Projects</a></li>
						<li><a href="/contact">Contact</a></li>
						<div class="clearfix"> </div>
					</ul>
				</div>
				<!--script-for-menu-->
				<script>
				$( "span.menu" ).click(function() {
				  $( ".top-menu" ).slideToggle( "slow", function() {
				    // Animation complete.
				  });
				});
			</script>
			<!--script-for-menu-->
			</div>
		  </div>
		</div> 
		<!-- banner-bottom -->
		<div class="banner seven">
		</div>
	</div>
	<!--contact-->
			<div class="contact">
				<div class="container">
					<h3>Technology</h3>
						<div class="contact-top">

							<div class="col-md-12 ">
								<div class="contact-top-one">
									<h5 class="aboutus_content">Are you looking to build a new home that provides the custom, creative design you wish for along with the use of the latest in building technology? EPS homes feature construction using Structural Insulated Panels (SIPs), which are quickly becoming the desired choice for a lifetime of value and comfort.<br><br>

									When it comes to design, all you need to do is share your idea of a dream home. High ceilings, lofts,large door and window openings—if you can dream it, we can build it. EPS can manufacture SIP panels in different variations to accommodate the desired R-Value performance as well as accommodating individual, unique designs giving you the freedom to have your new home built your way. The interior and exterior of SIP homes can be finished in any variety of ways including drywall, vinyl siding or brick<br><br>
									
									As a full-service provider with a range of lines and machinery that covers the entire spectrum of modern reinforcing steel processing and industrial mesh production, we support our customers not only as a vendor, but also as a consultant in the setup of new operations or expansion or reorganization of existing facilities.<br><br>

									We design optimized production facilities by beginning with the requirements for the intended production. Our engineering services of this nature include not only production capacity calculations and the planning of logistics and the flow of materials, but also the design of storage floor space and peripheral equipment.<br><br>

									The expanded polystyrene(EPS) technology involves construction of houses by assembling ready made EPS foam , sandwiched between galvanized steel wire mesh that is plastered on both sides with concrete. Despite the low weight , modular houses are strong enough to withstand natural calamities better than houses build using the conventional building materials.  EPS panels can be used to build up to  20 storeys building.<br><br>								
									</h5>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
				</div>
			</div>
	<!--/contact-->
			<!--footer -->
		<div class="footer text-center">
				<div class="container">
<!-- 					<div class="footer-grids">
						<div class="col-md-6 footer-text">  
							<h3>About Us</h3>
							<p>We as partners started our business in construction field from 2010 . We have successfully completed many projects in and around Bangalore, Mangalore. We have also gained experience in building Villas.All these were Masonary style of construction.</p>
							<a class="read" href="about.html">Read More</a>
						</div>
						<div class="col-md-6 footer-info">
							<h3>Get In Touch</h3>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since, </p>
							<div class="support">
							   <input type="text" class="text" value="Enter email..." onfocus="this.value = '';" onblur="if (this.value == 'Enter email...') {this.value = 'Enter email...';}">
							   <input type="submit" value="SUBSCRIBE" class="botton">
							</div>
					</div>
					<div class="clearfix"> </div>
				</div> -->
					<div class="copy">
		              <p>&copy; 2015 QuickerBuild. All Rights Reserved | Design by <a href="https://www.facebook.com/harsh.ravi.71">H[R]</a> </p>
		            </div>
				</div>
			</div>
			<!--start-smoth-scrolling-->
			<script type="text/javascript">
								jQuery(document).ready(function($) {
									$(".scroll").click(function(event){		
										event.preventDefault();
										$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
									});
								});
								</script>
							<!--start-smoth-scrolling-->
						<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

</body>
</html>